@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 262 83% 58%;
	--primary-foreground: 0 0% 100%;
	--secondary: 260 10% 96%;
	--secondary-foreground: 262 83% 58%;
	--muted: 260 10% 96%;
	--muted-foreground: 240 5% 45%;
	--accent: 262 60% 95%;
	--accent-foreground: 262 83% 45%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 260 10% 90%;
	--input: 260 10% 90%;
	--ring: 262 83% 58%;
	--radius: 0.5rem;

	--chart-1: 0 100% 50%;
	--chart-2: 29 100% 50%;
	--chart-3: 51 100% 50%;
	--chart-4: 83 100% 50%;
	--chart-5: 115 100% 50%;
	--chart-6: 147 100% 50%;
	--chart-7: 168 100% 50%;
	--chart-8: 196 100% 50%;
	--chart-9: 224 100% 50%;
	--chart-10: 261 100% 50%;
	--chart-11: 279 100% 50%;
	--chart-12: 298 100% 50%;
	--chart-13: 324 100% 50%;
	--chart-14: 358 100% 50%;
}

.dark {
	--background: 240 10% 3.9%;
	--foreground: 0 0% 98%;
	--card: 240 10% 5%;
	--card-foreground: 0 0% 98%;
	--popover: 240 10% 5%;
	--popover-foreground: 0 0% 98%;
	--primary: 262 83% 65%;
	--primary-foreground: 0 0% 100%;
	--secondary: 260 10% 14%;
	--secondary-foreground: 0 0% 98%;
	--muted: 260 10% 14%;
	--muted-foreground: 240 5% 64%;
	--accent: 262 40% 18%;
	--accent-foreground: 262 83% 80%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--border: 260 10% 16%;
	--input: 260 10% 16%;
	--ring: 262 83% 65%;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
