name: Commitlint
on:
  pull_request:
    types: [opened, synchronize, edited]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Install commitlint
        run: |
          npm i -D @commitlint/cli @commitlint/config-conventional

      - name: Run commitlint on PR commits
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          COMMITS=$(gh pr view ${{ github.event.pull_request.number }} --json commits --jq '.commits[].oid')
          for c in $COMMITS; do
            git show --quiet --pretty=format:%B $c > .git/COMMIT_MSG
            npx commitlint --config commitlint.config.cjs --verbose --from $c --to $c --edit .git/COMMIT_MSG
          done
